---
import type { NavbarType } from '@checkpoint/shared-types';

interface Props {
  data: NavbarType;
}

const { data } = Astro.props as Props;
---

<section class="flex mt-12 justify-between items-center">
  <a href="/" class="w-1/5">
    <img
      src={`${import.meta.env.PUBLIC_DIRECTUS_URL}/assets/${data.page_info.logo_dark?.filename_disk}`}
      alt=""
      class="w-full "
    />
  </a>
  <nav class="flex gap-10 items-center">
    {
      data.navigation_items.map((ni) => (
        <a
          class:list={[
            {
              'text-xl relative after:absolute after:bottom-0 after:left-1/2 after:w-0 after:h-0.5 after:bg-current hover:after:w-full hover:after:left-0 after:transition-all after:duration-300':
                !ni.navigation_items_id.highlighted,
              'btn btn-primary btn-outline px-5 py-3 border': ni.navigation_items_id.highlighted,
            },
          ]}
          href={`/${ni.navigation_items_id.slug}`}
        >
          {ni.navigation_items_id.text}
        </a>
      ))
    }
  </nav>
</section>
