---
import { getPages } from "../api/directus";
import Layout from "../page-builder/Layout.astro";

export async function getStaticPaths() {
    try {
        const pagesInfo = await getPages(
            import.meta.env.PUBLIC_ORGANIZATION_ID,
        );

        if (!pagesInfo) {
            throw new Error("No pages found");
        }

        return pagesInfo
            .filter((page) => page.slug !== "index") // Excluir la página index
            .map((page) => {
                return {
                    params: { slug: page.slug },
                    props: page,
                };
            });
    } catch (error) {
        console.error("Error fetching pages:", error);
        return [];
    }
}
const page = Astro.props;
---

<Layout title={page.title}>
    <h1>Hola mundo desde ${page.title}</h1>
</Layout>
