---
import Layout from "../page-builder/Layout.astro";
import { getPage } from "../api/directus";

const page = await getPage(import.meta.env.PUBLIC_ORGANIZATION_ID, "index");
---

{
	page ? (
		<Layout>
			<h1>Hola mundo desde {page?.title}</h1>
		</Layout>
	) : (
		<h1>Error! no se ha encontrado la página</h1>
	)
}
